body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}


.fullpage {
    min-height: 100vh;
    background-color: #3e3f47;
    align-items: center;
}

.infocontaier {
    align-items: center;
    padding: 40px 50px;
}

.infotext {
    font-color: #f2f3fc;
    align-content: center;
    align-items: center;
}
