body {
    padding-top: 3rem;
}

.line {
    color: #e07300;
    border-style: solid;
    border-color: #e07300;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}


.fullpage {
    height: 100vh;
    min-height: 800px;
    background-color: #3f3d3a;
    align-items: center;
}
.projectpage {
    background-color: #3f3d3a;
}
.alternate {
    background-color: #4f4c47;
    margin-top: -8px;
}
.first {
    margin-top: 8px
}
.not-first {
    margin-top: -8px;
}





.infocontainer {
    padding-top: 10vh;
    margin: auto;
    align-items: center;
    text-align: center;
    flex: none;
    min-width: 500px;
}

.largeinfo {
    max-width: 1440px;
}
.smallinfo {
    max-width: 720px;
}
.infotext {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0px;
}
.large-text {
    color: #ffffff;
    font-size: 3em;
    font-weight: 400;
}
.medium-text {
    color: #e0e0e0;
    font-size: 2em;
    font-weight: 200;
}
.small-text {
    color: #e0e0e0;
    font-size: 1.2em;
    font-weight: 25;
    
}
.centered {
    text-align: center;
}
.left {
    text-align: left;
}

.projectcontainer {
    display: inline-block;
    min-width: 500px;
    margin-bottom: 10vh;
}
.projectcard {
    background-color: #7a756c;
    
    border-top: 1px solid #91908e;
    border-left: 1px solid #91908e;
    
    border-right: 3px solid #91908e;
    border-bottom: 3px solid #91908e;
    border-radius: 8px;
    display: inline-block;
    margin-top: 2vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    min-width: 360px;
    max-width: 360px;
    min-height:450px;
    max-height: 450px;

    transition-duration: 0.2s;
}
.projectcard:hover {
    transition-duration: 0.2s;
    background-color: #303030;
}

.projectcard:hover .cardtitle {
    transition-duration: 0.2s;
    text-decoration: underline;
}

.cardcontents {
    display: inline-block;
    margin-left: 12px;
    margin-top: 0px;
}
.cardtext {
    text-align: left;
}
.cardtitle {
    padding-top: 8px;
    margin-left: 8px;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 4px;
}
.carddescription {
    padding-top: 4px;
    padding-left: 8px;
    color: #e0e0e0;
    font-size: 1em;
    font-weight: 400;
}
.cardimage {
    margin-left: -10px;
    width: 320px;
    height: 240px;
}

.relatedbutton {
  background-color: #44c767;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 3px 9px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  float: left;
  margin-right: 4px;
  margin-bottom: 4px;
}
.relatedbutton:hover {
  background-color:#5cbf2a;
  text-decoration: none;
  color: #ffffff;
}

.buttoncontainer {
    display: inline-block;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}
